<!DOCTYPE html>
<html>
    <head>
        <title>Sistema de Controle</title>
        <link rel="stylesheet" type="text/css" href="../css/arquivo.css">
    </head>

    <body>
        <center> 
            <image src="../images/logo.png"></image> <br>
            <br> <br>
            {{{body}}}
        </center>
    </body>
</html>