<form action="/alunoCreate" method="post" enctype="multipart/form-data">
    Nome: <input type="text" name="nome">
    <br> <br>
    Pais: <input type="text" name="pais">
    <br> <br>
    Endereco: <input type="text" name="endereco">
    <br> <br>
    Residencia: <input type="file" name="residencia">
    <br> <br>
    <input type="submit" value="Cadastrar">
</form>