<form action="/crecheEdit" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{creches._id}}">
    <p>Nome da creche:</p> <input type="text" name="nome" value="{{creches.nome}}"> 
    <p>Bairro:</p> <input type="text" name="especie" value="{{creches.bairro}}">
    <br> <br>
    <input class="submitcontinue" type="submit" value="Editar">
</form>